@import "tailwindcss";

.form-row {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.form-row .form-row-label {
  width: 200px;
}

.form-row .form-row-input {
  flex: 1;
}

.shortcuts-list {
  text-align: left;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.5;
  white-space: pre-wrap;
}